@{
    Layout = "/Views/Shared/_Html.cshtml";
}
@inject IOptions<ProductInfo> Product

@section head{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.min.css" />
    @await RenderSectionAsync("Heads", false)
}

<header>
    @await RenderSectionAsync("header")
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-muted">© 2023 @Product.Value.Copyright</span>
            - <a asp-area="" asp-page="/Privacy">@SL["Privacy"]</a>
            -
            @if (User.IsInRole("Administrators"))
            {
                <a asp-page="/Index" asp-area="Admin">@SL["System Management"]</a>
            }
        </div>
    </footer>
</div>


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
}