@page
@using VisaManagement;
@inject PassportManager passportManager
@inject VisaManager visaManager
@model StudentVisaWebApp.Areas.Admin.Pages.IndexModel
@{
}
<h1>Dashboard</h1>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <p>Passports</p>
            <p>@passportManager.Passports.Count()</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p>VISAs</p>
            <p>@visaManager.Visas.Count()</p>
        </div>
    </div>
</div>

<hr />
<h1>Focus</h1>
<ul>
    <li>Jonny's Passport expired.</li>
    <li>MIKE's Passport will expired at 2024-6-6</li>
</ul>