@page
@using Microsoft.AspNetCore.Identity;
@inject UserManager<Person> userManager
@model             IndexModel
@{
}
<h1>Users</h1>
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Login Name</td>
            <td>Register Time</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in this.userManager.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.UserName</td>
                <td>@user.WhenCreated</td>
            </tr>
        }
    </tbody>
</table>