@page
@model StudentVisaWebApp.Areas.Manage.Pages.VISAs.DeleteModel
@{
}
<h1>Delete VISA</h1>

<form method="post">
    <p>Are you sure to delete VISA ''? Type VISA Number below to ensure deletion.</p>
    <button type="submit" class="btn btn-danger">DELETE</button>
</form>