@page
@model AdmissionsPortalWebApp.Areas.Student.Pages.Request.IndexModel
@{
}

<h1>Start Request</h1>

<h2>Program</h2>

<div class="card">
    <div class="card-header">
        <h4>Program Information</h4>
    </div>
    <div class="card-body">
        <p>Program Name: Bachelor of Science in Computer Science</p>
        <p>Program Code: BSCS</p>
        <p>Program Type: Undergraduate</p>
    </div>
</div>

<h2>Personal Info</h2>

<h3>Passport</h3>

<div class="card">
    <div class="card-header">
        <h4>Passport Information</h4>
    </div>
    <div class="card-body">
        <p>Family name: Yang</p>
        <p>Given name: Jonny</p>
        <p>Passport No.: E12345678</p>
        <p>Nationality: India</p>
    </div>
</div>

<h3>Other Information</h3>

<div class="card">
    <div class="card-header">
        <h4>Other Information</h4>
    </div>
    <div class="card-body">
        <p></p>
    </div>
</div>