@page
@model AdmissionsPortalWebApp.Areas.Student.Pages.Request.StartModel
@{
}
<h1>Guide</h1>

<p>Before you start your request, please make sure you have the following information ready:</p>

<ul>
    <li>Passport</li>
    <li>Personal Information</li>
    <li>Other Information</li>
</ul>

<p>Click the button below to start your request.</p>

<form method="post">
    <button type="submit" class="btn btn-primary">Start Request</button>
</form>