@page
@model IndexModel
@{
    ViewData["Title"] = this.L["Home"];
}



<div class="p-5 mb-4 bg-light rounded-3" style="background-image:url('/images/inner1_bn2.jpg')">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-white">Welcome</h1>
        <p class="col-md-7 fs-4 text-white">With the central task of talent cultivation, Tsinghua aims to cultivate people who shoulder the mission and strive for excellence through a "Three-Pronged Approach" by integrating the shaping of values, the cultivating of skills and the imparting of knowledge. Students are expected to develop five essential qualities, namely, well-rounded character, solid and broad academic foundation, innovative thinking, global perspective and social commitment, achieving a combination of comprehensive development and individual development.</p>
        <a class="btn btn-primary btn-lg" href="#">LEARN MORE</a>
    </div>
</div>


<partial name="_DebugUserClaimsPart" />